* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* replaced .header to header as element selector */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* removed .header */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* removed .header and h1 tag, replaced class with id */
#seo {
    color: #d9dcd6;
}
/* removed .header and replaced div tag with nav tag */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
/* removed .header and div tag as there is only one ul in the html file*/
ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    
}
/* removed .header, div and ul since there is only li in the html file */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* removed background-image URL and added image to html file using img src from local, replaced class with id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* replaced class with id */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* created a class of 'sections' for each section (apart from aside) as they all had the same CSS properties */
.sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* from the 'sections' class above, combined all 3 images into one selector as they all had the same property */
.sections img {
    max-height: 200px;
}
/* combined the 3 sections with the same h2 tags that had the same property */
.sections h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

/* replaced class with id */
#float-right {
    float: right;
    margin-left: 25px;
}

/* removed class of 'benefits' to aside selector */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* created class of benefits for the 3 div classes and removed benefit-lead, -brand, and -cost */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}
/* removed .benefit-lead, -brand, and -cost and just used h3 selector */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* removed .benefit-brand img, -lead img, and -cost img and replaced with .benefit img */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* removed .footer with footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* removed .footer with footer */
footer h2 {
    font-size: 20px;
}
